<form (submit)="onSignup(signupForm)" #signupForm="ngForm">
  <mat-card id="card">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name = "email" ngModel #email = "ngModel" required email />
        <mat-error *ngIf='email.invalid'>
          Please enter a valid Email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" name = "name" ngModel #name = "ngModel" required />
        <mat-error *ngIf='email.invalid'>
          Please enter a valid Email
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name = "password" ngModel #password = "ngModel"  required />
        <mat-error *ngIf='password.invalid'>
          Please enter a valid password
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>confirm password</mat-label>
        <input matInput type="password" name = "cpassword" ngModel #cpassword = "ngModel"  required />
        <!-- <mat-error *ngIf="signupForm.controls['cPassword'].hasError('NoPassswordMatch')">
          Password do not match
        </mat-error> -->
      </mat-form-field>
    </div>
    <div style="padding-top: 1%;">
      <button mat-flat-button type="submit" color="accent">Signup</button>
    </div>
  </mat-card>
</form>
